// 使用@use替代@import
@use './variables' as *;

html {
  font-size: $font-size-base;
  line-height: 1.6;
  background-color: $light-color;
  scrollbar-gutter: auto !important;
}

body {
  overscroll-behavior: none;
  font-family: $font-family-base; 
  font-weight: $font-weight-normal;
  color: $dark-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.default-container {
  min-height: 100vh;
}


/* 移动端特殊处理 */
@media (max-width: 768px) {
  html, body {
    /* 强制应用，提高优先级 */
    overscroll-behavior: contain !important;
    overscroll-behavior-y: contain !important;
  }
  
  /* 防止iOS Safari的回弹 */
  body {
    touch-action: pan-y;
  }
}


.rich-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.6;
  
  p {
    margin: 0 0 0.5rem 0;
    min-height: 1.2em;
  }
  
  strong {
    font-weight: bold;
  }
  
  em {
    font-style: italic;
  }
  
  ul, ol {
    padding-left: 1.5rem;
    margin-bottom: 25px;
    margin-top: 15px;
  }
  
  li {
    margin-bottom: 0.25rem;
  }
}


// default page style
.default-container {
  padding: 10px 0;

  .page-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;

    .page-title {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .page-btn-group {
      display: flex;
      align-items: center;
      gap: 10px;
    }

  }
}

// card style
.default-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 oklch(92.8% 0.006 264.531 / 0.2);
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: var(--shadow-md);
  }

  .card-image {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
  }

  .card-content {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    position: relative; 
    padding: 10px; 
    padding-top: 20px;
    cursor: pointer;

    .card-id {
      font-size: 12px; 
      font-weight: 600; 
      flex-shrink: 0; 
      background-color: #1e293b; 
      color: #fff; 
      padding: 2px 6px; 
      border-radius: 6px; 
      display: block; 
      position: absolute; 
      top: -12px; 
      left: 14px;
    }
    

    .card-title {
      font-size: 12px;

      font-weight: 400;
      display: block;

      .card-title__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;
        font-weight: 600;
      }

      .card-title__subtext {
        opacity: 0.6;
      }
    }
  }
}


// sidebar menus style
.sidebar-menus {

  .menus-item {
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 400;
    padding: 8px 2px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease-in-out;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #fafafa;
    }
    
    &.active {
      opacity: 1;
      font-size: 16px;
      font-weight: 700;
    }
  }
}


// custom modal box style
.custom-modal-box {
  padding: 0;

  .modal-header {
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
    border-bottom: 0.5px solid var(--color-gray-200);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .modal-header__close-btn {
      width: 30px;
      height: 30px;
      cursor: pointer;
      opacity: 0.4;
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      

      &:hover {
        opacity: 0.5;
        transform: scale(1.1);
        background-color: var(--color-gray-200);
      }
    }

    .modal-header__title {
      display: block;
      font-size: 18px;
      font-weight: 700;
    }

    .modal-header__subtitle {
      display: block;
      font-size: 10px;
      color: var(--color-gray-500);
    }
  }

  .modal-body {
    background-color: #fff;
    max-height: 60vh;
    overflow-y: auto;
    padding: 20px;
    background-color: var(--color-gray-50);
  }

  .modal-footer {
    border-top: 0.5px solid var(--color-gray-200);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

}